<nav class="navbar navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/profile" routerLinkActive="selected" id="logo"></a>
    </div>
    <ul class="navbar-nav">
      <li><a routerLink="/mixers" routerLinkActive="active-link" class="left">MIXERS</a></li>
      <li><a routerLink="/profile" routerLinkActive="active-link" class="left">ABOUT</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" class="left">CONTACT</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" class="rightSide">Hi! USER</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" class="rightSide"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
    </ul>
  </div>
</nav>
