* {
  padding: 0;
  margin: 0;
}

ul {
  padding-top: 10px;
  list-style-type: none;
  min-width: 80%;
  float: left;
}

li > a {
  color: #F8F8F8;
  font-family: 'Anton', sans-serif;
  font-size: 150%;
}

nav {
  display: block;
}

#logo {
  float: left;
  display: block;
  background: url('../../assets/logo2.png') no-repeat;
  width: 20%;
  height: 55px;
}

.left {
  margin-left: 5%;
  float: left;
}

.rightSide {
  margin-right: 5%;
  float: right;
}
