.myContainer{
  margin:8% auto;
  width:60%;
}

h1{
  color: snow;
  font-family: "Comic Sans MS";
  transform: skewY(-5deg);
}

.editMix{
  padding:2.5% ;
  width: 80%;
  border-radius: 3px;
  border:1px dotted snow;
  margin: 2.5% auto;
}

.mySongs{
  width:80%;
  margin:10px auto;
  background: rgba(25,25,25,0.5);
  /*height: 100px;*/
  padding-bottom: 1.5%;

}

.songlist{
  margin: 5% 0%;
  padding: 1.5% 0%;
}

.songlist img, .songlist article{
  float: left;
  margin-left: 2.5%;
  margin-right: 3%;
}
.songlist img{
  width:100px;
}
.songlist article{
  line-height: 300%;
  font-size: 150%;
  font-family: "Copperplate Gothic Bold";
  color: snow;
}

.songlist button{
  float: right;
  margin-right: 2.5%;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  color: snow;
}

.clear{
  clear: both;
}
.hastgMix{
  position: fixed;
  top: 15%;
  left:5%;
  width: 15%;
  background: #0084a8;

  z-index: 20;
}
.hastgMix:after{
  content: '';
  width: 16%;
  height: 4.5%;
  position: fixed;
  background-color: rgba(232,171,44,0.6);
  transform: skewY(-5deg);
  transform-origin: right bottom;
  z-index: -1;
  top: 13.5%;
  left:3%;
}
.hastgMix h4{
  text-align: center;
}
.commentHastg{
  text-align: center;
  margin: 2.5% 0;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
