<div class="loginHeader"></div>
<div class="loginPanel">
  <h2 style="text-align: center; color: grey">Login Into Your Account</h2>
  <form (ngSubmit) = "onSubmited(f)" #f="ngForm">
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
      <input type="text" class="form-control " placeholder="Username"  name="username" ngModel aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-flash" id="basic-addon2"> </span>
      <input type="text" class="form-control" placeholder="Password" name="userpassword" ngModel aria-describedby="basic-addon1">
    </div>
    <h5 style="color: white;text-align: center;background-color: #2d2d2d; box-shadow:0px 0px 2px 2px grey inset; " [ngStyle]="{visibility: (viewWorning ? 'visible' : 'hidden')}">Wrong Username Or Password</h5>
    <button type="submit" class="btn btn-primary" (click)="changeStatusLogin($event)">Login</button>
  </form>

  <p>OR</p>

  <button type="button" class="btn btn-success" (click)="changeStatusSingIn($event)">Sign In</button>
</div>
<img src="../../assets/logo2.png">
<div class="lightbox" [ngStyle]="{display: (displayLightBox ? 'block' : 'none')}">

  <div class="SingInInput" [ngStyle]="{display: (displaySignIn ? 'block' : 'none')}">
    <h2>Sing In Now</h2>
    <h6 [ngStyle]="{display: (displayWorning ? 'block' : 'none')}">Please Enter valid values and choose a profile picture</h6>
    <form (ngSubmit) = "onSignIn(g)" #g="ngForm">
      <label>Full Name:</label>
      <input type="text" name="name" ngModel placeholder="Enter Full Name"><br>
      <label>User Name:</label>
      <input type="text" name="username" ngModel placeholder="Enter Username"><br>
      <label>Password:</label>
      <input type="text" name="userpassword" ngModel placeholder="Enter Password"><br>
      <label>Address:</label>
      <input type="text" name="useraddress" ngModel placeholder="Enter Address"><br>
      <label>About:</label>
      <input type="text" name="userabout" ngModel placeholder="Tell Somthing About You"><br>
      <h4>Select Profile Picture</h4>
      <input type="radio" name="picP" value="profile1.png"  ngModel id="r1">
      <label for="r1" class="UserPic"><img src="../../assets/profile1.png"></label>
      <input type="radio" name="picP" value="profile2.png" ngModel id="r2">
      <label for="r2" class="UserPic"><img src="../../assets/profile2.png"></label>
      <input type="radio" name="picP" value="profile3.png" ngModel id="r3">
      <label for="r3" class="UserPic"><img src="../../assets/profile3.png"></label><br>
      <div class="clear"></div>
      <input type="submit" name="Submit">
    </form>

    <button class="closeButton" (click)="changeStatusSingIn($event)"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>




