
app-header {
  position: fixed;
  top: 0;
  padding: 5px;
  display: block;
  height: 54px;
  width: 100%;
  /*position: relative;*/
  z-index: 2;
  background: #171717;
  margin-bottom: -18px;
}

app-header:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  left: 0;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-1.7deg);
}
