* {
  font-family: 'Anton', sans-serif;
  padding: 0;
  margin: 0;
}

.mixProflie {
  height: 550px;
  margin-top: 5%;
  padding: 5% 15%;
}


.mixProflie h3 {
  color: #fffefe;
}
.mixProflie h5 {
  color: darkgrey;
}
#mixDetails img{
  width:125px;
}
#mixCover{
  display: block;
  float: left;
  /*margin-top: 2%;*/
  border: 8px #171717 solid;
  width:35%;
  margin-left:-5%;
  margin-right: 7%;
}

#details{
  float: left;
  padding-right: 8%;
  width:35%;
}
#userP {
  margin-top: 15%;
}

#userP h4 {
   color: #fdc689;
 }

#userP img {
  width: 35%;
}

#cover {
  float: right;
  height: 300px;
  width: 20%;
}

.attributes {
  clear: both;
  padding: 0px;
  float: none;
  margin-bottom: 15px;
  display: block;
  width: 40%;
}

.attributes h3 {
  color: darkgray;
  margin-bottom: 10px;
}

.attributes h4 {
  cursor: pointer;
  color: #fdc689;
}

.attributes p {
  display: inline;
  color: #fdc689;
}

#lightboxPlayer {
  margin: auto;
  /*width: 75%;*/
  clear: both;
  height: 700px;
  padding-top: 30px;
  background: url("../../../assets/band2.png") repeat-x;
}

#player {
  margin: auto;
  position: relative;
  background: rgba(20, 20, 20, 0.6);
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 50px;
  z-index: 0;
}

#player > div {
  /*border: 2px solid blue;*/
  color: #F8F8F8;
  background: rgba(20, 20, 20, 0.9);
  width: 75%;
  margin: auto;
  /*min-height: 500px;*/
}

#player:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(20, 20, 20, 0.5);
  z-index: -1;
  left: 0;
  bottom: 0;
  transform-origin: right;
  transform: skewY(-3deg);
}

#mixDetails, .songDiv {
  border-bottom: 1px solid darkgray;
  height: 95px;
}
.songDiv span{
  color: #957350;
}
#mixDetails > div {
  height: 85px;
  display: inline-block;
}

#mixDetails > div h3, h4 {
}


.musicPlayer {
  position: relative;
  top: -100px;
  padding: 5px;
  display: block;
  height: 35px;
  width: 100%;
  /*position: relative;*/
  z-index: 0;
  background: #171717;
  margin-bottom: -18px;
}



.musicPlayer:after{
  content: '';
  width: 100%;
  height: 125%;
  position: absolute;
  background: inherit;
  z-index: -1;
  left: 0;
  bottom: 0;
  transform-origin: right top;
  transform: skewY(-1.7deg);
}

.pushAndPlay{
  display: block;
  position: absolute;
  top:32%;
  left:5%;
  border: none;
  background-color: #C0C0C0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.pushAndPlay img{
  width:80%;
}

.mixDTitle h5{
  color: #957350;
}
