* {
  color: #D3D3D3;
  padding: 0;
  margin: 0;
  /*font-family: 'Anton', sans-serif;*/
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 1px;
}

img {
  float: left;
  border: 13px solid #000000;
  margin-right: 5px;
  width: 210px;
  height: 213px;
}

#profileHolder {
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  /*width: 230px;*/
  width: 500px;
  height: 250px;
  margin-top: 100px;
  margin-left: 20%;
  padding: 8px;
  /*background: #000000;*/
}

h2, h3 {
  font-size: 230%;
}

.bio {
  font-size: 150%;
  clear: both;
  margin-left: 10px;
}

.bio li{
  float: left;
  list-style: none;
  margin-right: 5%;
  margin-top:5%;
}
.bio li a:visited{
  color: snow;
  font-weight: bold;
  text-decoration: none;
}

.bio li a:hover{
  text-decoration: none;
  color: snow;
}
.clear{
  clear:both;
}

/*app-likes, app-mixes {*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*display: block;*/
/*}*/

/*app-likes {*/
  /*border: 1px solid red;*/
/*}*/

/*app-mixes {*/
  /*border: 1px solid green;*/
/*}*/
