* {
  /*color: #E8E8E8;*/
  color: #D3D3D3;
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
}

img {
  float: left;
  border: 13px solid #000000;
  margin-right: 5px;
}

#profileHolder {
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  /*width: 230px;*/
  width: 500px;
  height: 250px;
  margin-top: 100px;
  margin-left: 20%;
  padding: 8px;
  /*background: #000000;*/
}

h2, h3 {
  font-size: 230%;
}

.bio {
  font-size: 150%;
  clear: both;
  margin-left: 10px;
}
