/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}


body {
  background: #000000;
}

app-profile {
  z-index: 2;
  color: red;
  display: block;
  height: 500px;
  /*border: 1px solid red;*/
  padding-top: 55px;
  width: 100%;
  background: url("assets/marble2.png") repeat-x;
}


