/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}


body {
  background: #000000;
}

app-profile {
  z-index: 2;
  color: red;
  display: block;
  height: 500px;
  /*border: 1px solid red;*/
  padding-top: 55px;
  width: 100%;
  background: url("assets/marble2.png") repeat-x;
}


app-likes, app-mixes {
  min-width: 700px;
  /*height: 100px;*/
  display: block;
}

app-likes {
  /*border: 1px solid red;*/
}

app-mixes {
  /*border: 1px solid green;*/
}

/*.mixName {*/
  /*color: #fdc689;*/
  /*clear: none;*/
  /*float: left;*/

/*}*/

/*.mixes {*/
  /*float: left;*/
  /*margin-right: 25px;*/
  /*cursor: pointer;*/
/*}*/

/*.social {*/
  /*float: left;*/
  /*margin-left: 15px;*/
/*}*/
