<div class="mixes" role="presentation" routerLinkActive="active" routerLink="/view-your-mix">
  <img src="../../../assets/mix2.png">
  <div>
    <h3 class="mixName">TEMP MIX</h3>
    <div class="social">
      <img src="../../../assets/heart.png">
      <h4>150</h4>
    </div>
    <div class="social">
      <img src="../../../assets/comment.png">
      <h4>150</h4>
    </div>
    <!--<a >Test</a>-->
  </div>
</div>
<div class="mixes" role="presentation" routerLinkActive="active" routerLink="/view-your-mix">
  <img src="../../../assets/mix2.png">
  <div>
    <h3 class="mixName">TEMP MIX</h3>
    <div class="social">
      <img src="../../../assets/heart.png">
      <h5>150</h5>
    </div>
    <div class="social">
      <img src="../../../assets/comment.png">
      <h5>150</h5>
    </div>
  </div>
  <tr *ngFor="let com of comments;" >
    <td>{{com}}</td>
  </tr>
</div>
