* {
  margin: 0;
  padding: 0;
}

.mixName {
  color: #fdc689;
  clear: none;
  float: left;
  margin-right: 2.5%;
}

.mixes {
  float: left;
  margin-right: 25px;
  cursor: pointer;
}

.social {
  float: left;
  margin-left: 7px;
}
.mixes img{
  width: 60%;
}
