* {
  margin: 0;
  padding: 0;
}

.mixName {
  color: #fdc689;
  clear: none;
  float: left;
  margin-right: 2.5%;
}

.mixes {
  float: left;
  margin-right: 25px;
  cursor: pointer;
  background: #333333;
  border-radius: 10px;
}

.mixes:hover {
  border: 2px solid #D3D3D3;
}

.social {
  float: left;
  margin-left: 7px;
}
